<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>AutoStart</title>

    <style>
        h1 {
            font-size: larger;
            font-family: Arial;
            font-style: normal;
        }
        
        h2 {
            font-size: medium;
            font-family: Arial;
            font-style: normal;
        }
    </style>
</head>

<body>
    <h1> Teste Inicial</h1>
    <h2> work in progress</h2>
</body>
<script>
   
</script>

</html>