<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./_SCR/scritpCleo.js"></script>
    <script src="/SCR?scr=scritpCleo.js"></script>
    <link rel="stylesheet" href="./_CSS/styleCleo.css" />
    <link rel="stylesheet" href="/CSS?c=styleCleo.css" />
    <title>PcPastre Portifolio</title>
</head>

<body>
    <div class="backgroudIMG">

    </div>
    <div class="barraInit" id="init">
        <p class="text">
            <span id="time"></span>
        </p>
        <a href="#home"><button class="buttonPortifolio" id="textPortifolio"> Meu Portifolio</button></a>


    </div>
    <div class="recente">
        <h1>O meu trabalho mais recente:</h1><br>
        <h2>
            A inauguração da exposição “Ensinando Robôs”, um projeto feito pelo Museu
            Catavento em conjunto com o Laboratorio de Pesquisa da IBM Brasil, tem o intuito de democratizar o
            conhecimento sobre inteligência artificial. <br> <br>
            A mostra de longa duração tem o propósito de introduzir
            conceitos de IA para os visitantes do museu de forma interativa e lúdica, mostrando na prática como funciona
            o aprendizado das máquinas e a importância do ser humano nesse
            processo.
        </h2>

    </div>
    <div class="home" id="home">
        <a href="#init"><button class="buttonPortifolio2" id="b2">
                <t2>Voltar</t2>
            </button></a>
        <a href="#sb"><button class="buttonPortifolio3">
                <t2>Sobre Mim</t2>
            </button></a>
        <a href="#hb"><button class="buttonPortifolio4">
                <t2>Habilidades</t2>
            </button></a>
        <a href="#pj"><button class="buttonPortifolio5">
                <t2>Projetos</t2>
            </button></a>
        <a href="#ct"><button class="buttonPortifolio6">
                <t2>Contatos</t2>
            </button></a>
    </div>
    <div class="sobreMim" id="sb">
        <table class="aboutMe">
            <tr>
                <td>
                    <img id="perfil" src="/IMG?img=perfil.jpg" alt="">
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                    <h3>
                        &ensp; Meu nome é Paulo Pastre, sou estudante de bacharelado duplo
                        em Engenharia de Instrumentação, Automação e Robotica, e Ciencias da
                        Computação pela UFABC.<br>
                        &ensp; Desde os 11 anos de idade acumulo publicações e premiações em
                        diferentes competições envolvendo Robotica e empreemdedorismo. <br>&ensp;&ensp;&ensp;
                    </h3>
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <div class="habili" id="hb">

        <table>
            <tr>
                <td>
                    <img class="logo" id="cpp" src="https://cdn-icons-png.flaticon.com/512/6132/6132222.png" alt="">
                    <br>
                    <img class="logo" id="java" src="https://cdn-icons-png.flaticon.com/512/226/226777.png" alt="">
                    <br>
                    <img class="logo" id="python" src="https://cdn-icons-png.flaticon.com/512/1822/1822899.png" alt="">
                    <br>
                    <img class="logo" id="javaS" src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" alt="">
                    <br>
                    <img class="logo" id="html" src="https://cdn-icons-png.flaticon.com/512/5968/5968267.png" alt="">
                    <br>
                    <img class="logo" id="css" src="https://cdn-icons-png.flaticon.com/512/5968/5968242.png" alt="">
                    <br>
                    <img class="logo" id="node" src="https://cdn-icons-png.flaticon.com/512/919/919825.png" alt="">
                    <br>
                    <img class="logo" id="arduino"
                        src="https://www.arduino.cc/wiki/static/0b57566f18443e2eda0642a3fb23c438/d0c94/ArduinoCommunityLogo_CustomArea.png"
                        alt="">
                </td>

                <td>
                    <h4>
                        <span id="tituloHabili"></span>
                        <br>
                        <br>
                        <span id="textHabili">  Selecione os icones ao lado para descobrir
                            um pouco mais sobre as minhas habilidades.
                        </span>
                    </h4>
                </td>
            </tr>
        </table>
    </div>
    <div class="projet" id="pj">
        <table>
            <tr>
                <td>
                    <a href="https://museucatavento.org.br/inauguracao-ensinando-robos"><img class="projets"
                            src="https://i0.wp.com/sampacomcriancas.com.br/wp-content/uploads/2022/08/inteligencia-artificial-scaled.jpeg?resize=1024%2C681&ssl=1"
                            alt=""></a>

                </td>
                <td>
                    <a href="https://www.facebook.com/XEletronico"><img class="projets"
                            src="https://scontent.fcgh17-1.fna.fbcdn.net/v/t1.6435-9/49787646_800423966965924_1743129390662811648_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeE6tOdKQ2RsV1Vf3omtcWZlPpwW8hJ_AJE-nBbyEn8AkR-kt3gLk-ipTqVHFbLisAfclZyGS5hk9xc8I0a8SJDK&_nc_ohc=R8G7sNnZS74AX_0D3bk&tn=O2tKDEI659oJA-v6&_nc_ht=scontent.fcgh17-1.fna&oh=00_AT-lasoYD606e5G6xa8X5tskxNb0t3PHPXB60GAxBg61Wg&oe=6335FE63"
                            alt="">
                    </a>
                </td>
                <td>
                    <a href="https://bahelmet.blogspot.com/2018/09/bathelmet.html"><img class="projets"
                            src="https://4.bp.blogspot.com/-VV4BmEjifM8/W65CCI0T1JI/AAAAAAAAC7A/Dua80L_G1oIS7YmclLlZBbOewwaxjE7qwCLcBGAs/s320/Sem%2Bt%25C3%25ADtulo.jpg"
                            alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <img class="logo" id="cpp"
                        src="https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-under-construction-construction-flaticons-flat-flat-icons.png"
                        alt="">
                </td>
                <td>
                    <img class="logo" id="cpp"
                        src="https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-under-construction-construction-flaticons-flat-flat-icons.png"
                        alt="">
                </td>
                <td>
                    <img class="logo" id="cpp"
                        src="https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-under-construction-construction-flaticons-flat-flat-icons.png"
                        alt="">
                </td>
            </tr>
            <tr>
                <td>
                    <img class="logo" id="cpp"
                        src="https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-under-construction-construction-flaticons-flat-flat-icons.png"
                        alt="">
                </td>
                <td>
                    <img class="logo" id="cpp"
                        src="https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-under-construction-construction-flaticons-flat-flat-icons.png"
                        alt="">
                </td>
                <td>
                    <img class="logo" id="cpp"
                        src="https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-under-construction-construction-flaticons-flat-flat-icons.png"
                        alt="">
                </td>
            </tr>
        </table>
    </div>
    <div class="contato" id="ct">
        <h5>Contato:</h5><br>
        <a href="mailto:pc.pastre@gmail.com"><img class="logo"
                src="https://cdn-icons-png.flaticon.com/512/3128/3128267.png" alt=""></a>
        <a href="https://www.instagram.com/pc_pastre/?hl=en"><img class="logo"
                src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt=""></a>
        <a href="https://www.linkedin.com/in/pcpastre/"><img class="logo"
                src="https://cdn-icons-png.flaticon.com/512/145/145807.png" alt=""></a>
        <a href="https://www.facebook.com/paulo.pastre.juninho/"><img class="logo"
                src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png" alt=""></a>

    </div>
</body>

</html>