<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./_SCR/scritp.js"></script>
    <script src="/SCR?scr=scritp.js"></script>
    <link rel="stylesheet" href="./_CSS/styleCleo.css" />
    <link rel="stylesheet" href="/CSS?c=styleCleo.css" />
    <title>PcPastre Portifolio</title>
</head>

<body>
    <div class='classBarra'>
        Teste teste teste teste
    </div>
</body>

</html>